<html
  xmlns='http://www.w3.org/1999/xhtml'
  xmlns:o='urn:schemas-microsoft-com:office:office'
  style="font-family:arial, 'helvetica neue', helvetica, sans-serif"
>
  <head>
    <meta charset='UTF-8' />
    <meta content='width=device-width, initial-scale=1' name='viewport' />
    <meta name='x-apple-disable-message-reformatting' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta content='telephone=no' name='format-detection' />
    <title>Nueva plantilla</title>
  </head>
  <body>
    <h3 style="font-size: 22px; font-family: Arial;">Bienvenido a Medicitate</h3>
      <p style="font-size: 20px; font-family: Arial;">Felicidades por registrarse en Medicitate, para culminar con su registro lo invitamos a seguir el siguiente link: <a target="_blank" href="{{ url }}">Link de verificación</a></p>
  </body>
</html>